.task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding:1.5vw 1vw;

    .taskIcon{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img{
            width:1.6vw;
            height:1.6vw;
        }
    }

    .toBeDone{
        font-size:1vw;
        font-weight: 300;
        color:white;
        font-family: 'Raleway', sans-serif;
        position: relative;
        max-width: 12.5vw;
        position: absolute;
        left:4vw;
        text-decoration: line-through;
        text-decoration-color: rgba(255,255,255,0);
        transition: all .2s;

        &::first-letter{
            text-transform: capitalize;
        }
    }

    .done{
        font-size:1vw;
        font-weight: 300;
        color:white;
        font-family: 'Raleway', sans-serif;
        position: relative;
        max-width: 12.5vw;
        position: absolute;
        left:4vw;
        text-decoration: line-through;
        text-decoration-color: rgba(255,255,255,1);
        transition: all .2s;
        
        &::first-letter{
            text-transform: capitalize;
        }
    }
}