.task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:25px;
    padding-top:27px;

    h1{
        font-size:14px;
        font-weight: 300;
        color:white;
        font-family: 'Raleway', sans-serif;
    }

    .delete{
        width:20px;
        height:20px;
        opacity:.7;
    }
    
}