.toDoList-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:90vw;
    height:93vh;
    position: relative;
    padding:15px;

    ul.list{
        list-style-type: none;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        width:90%;
        height:96.5%;

        &::-webkit-scrollbar { 
            display: none; 
        }

        li{
            &:not(:last-child){
                border-bottom:1px solid rgba(255,255,255,.3);
            }
        }
    }

    .addBtn{
        width:50px;
        height: 50px;
        opacity:.7;
        margin-top:25px;
        transform: rotate(0);
        transition: all .3s;
    }
    .addBtnActive{
        width:50px;
        height: 50px;
        opacity:.7;
        margin-top:25px;
        transition: all .3s;
        transform: rotate(180deg);
    }
}