@keyframes bin{
    0%{transform: rotate(0deg)}
    25%{transform: rotate(15deg)}
    50%{transform: rotate(-15deg)}
    75%{transform: rotate(15deg)}
    100%{transform: rotate(0deg)}
}

.toDoList-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:25vw;
    height:45vw;
    position: relative;
    padding:2.8vw 1.5vw;
    border:1px solid rgba(255,255,255,.3);

    ul.list{
        list-style-type: none;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        width:90%;
        height:90%;

        &::-webkit-scrollbar { 
            display: none; 
        }

        li{
            &:not(:last-child){
                border-bottom:1px solid rgba(255,255,255,.3);
            }
        }
    }

    .emptyMessage{
        width:90%;
        height:90%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            text-align: center;
        color: rgba(255,255,255,.7);
        font-size: 1.3vw;
        font-weight: 300;
        }
    }

    .menuWrapper{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width:85%;
        margin-top:3vw;

        .binIcon{
            cursor: pointer;
            width:2.3vw;
            height:2.3vw;
            transition: all .3;

            &:hover{
                animation: bin .3s ease forwards;
            }
        }

        .addBtn{
            width:3vw;
            height: 3vw;
            border-radius: 1.5vw;
            border:1px solid white;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left:44%;
            transition: all .3s;

            &:before{
                content: "";
                display: block;
                background-color: white;
                z-index: 1;
                position: absolute;
                width:2px;
                border-radius: 1px;
                height:3%;
                transform-origin: 50% 50%;
                transition: all .3s;
            }
            &:after{
                content: "";
                display: block;
                position: absolute;
                background-color: white;
                z-index: 1;
                width:5%;
                border-radius: 1px;
                height:2px;
                transform-origin: 50% 50%;
                transition: all .3s;
            }

            &:hover{
                background-color: rgba(255,255,255,.3);

                &:before{
                    transform: rotate(180deg);
                }

                &:after{
                    transform: rotate(180deg);
                }
            }
        }
    }  
    
    .widget1{
        position: absolute;
        top:0;
        left:-21vw;
        border:1px solid rgba(255,255,255,.3);
        width:20vw;
        height:24vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .widget2{
        position: absolute;
        bottom:0;
        left:-21vw;
        border:1px solid rgba(255,255,255,.3);
        width:20vw;
        height:20vw;
    }
    .widget3{
        position: absolute;
        top:0;
        right:-21vw;
        border:1px solid rgba(255,255,255,.3);
        width:20vw;
        height:24vw;
    }
    .widget4{
        position: absolute;
        bottom:0;
        right:-21vw;
        border:1px solid rgba(255,255,255,.3);
        width:20vw;
        height:20vw;
    }
}
