@media only screen and (min-width : 1024px){

.stopWatch{
    width:90%;
    height:90%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        color:rgba(255,255,255,.5);
        margin:.5vw;
        font-size:1vw;
    }

    p{
        color:rgba(255,255,255,.5);
        margin:.5vw;
        font-size:4vw;
        width:100%;
        text-indent: 1vw;
    }
    .btnContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 11vw;
        margin:.5vw;

        .btn{
            cursor: pointer;
            color:rgba(255,255,255,1);
            background-color: rgba(255,255,255,.2);
            border:1px solid rgba(255,255,255,.2);
            padding:.5vw;
            font-size:.8vw;
            width:5vw;
            text-align: center;
            border-radius: 2vw;
            transition: all .3s;

            &:hover{
                background-color: rgba(255,255,255,0);
            }
        }
    }
}

}