*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    overflow: -moz-scrollbars-none;
}

body{
    width:100vw;
    height: 100vh;
    background-image: linear-gradient(45deg, #13547a 0%, #80d0c7 100%);
    -webkit-background-image: linear-gradient(45deg, #13547a 0%, #80d0c7 100%);
    -moz-background-image: linear-gradient(45deg, #13547a 0%, #80d0c7 100%);
    // background-image: linear-gradient(45deg, #426379 40%, #48b38a 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



