.checker{
    width:1.4vw;
    height: 1.4vw;
    position: relative;
    border:1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .iconUnchecked{
        opacity:0;
        width:1.4vw;
    height: 1.4vw;
    }

    .iconChecked{
        opacity:1;
        width:1.4vw;
    height: 1.4vw;
    }

    .checkerBg{
        width:1.3vw;
        height:1.3vw;
        position: absolute;
        top:0;
        left:0;
        background-color: rgba(255,255,255,.3);
        opacity:0;
        transition: all .3s;

        &:hover{
            opacity: 1;
        }
    }


}