.addTask{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:35vw;
    height:45vw;
    position: relative;
    padding:1.5vw;
    border:1px solid rgba(255,255,255,.3);

    .validationAlert{
        position: absolute;
        top:10vw;
        font-size:1.1vw;
        text-align: center;
        color:rgba(255,255,255,.7);
        background-color: rgba(255,255,255,.2);
        opacity:0;
        transition: all .3s;
        padding:1vw;
    }

    .validationAlertVisible{
        position: absolute;
        top:10vw;
        font-size:1.1vw;
        text-align: center;
        color:rgba(255,255,255,.7);
        background-color: rgba(255,255,255,.2);
        opacity:1;
        padding:1vw;
        transition: all .3s;
    }

    .close{
        position: absolute;
        cursor: pointer;
        width:2vw;
        height: 2vw;
        opacity:.7;
        transform-origin: 50% 50%;
        right:2vw;
        top:2.3vw;

        &:before{
            content:"";
            display: block;
            background-color: white;
            width:2vw;
            top:.85vw;
            height: 2px;
            position: absolute;
            transform: rotate(45deg);
            transition: all .3s;
        }
        
        &:after{
            content:"";
            display: block;
            background-color: white;
            top:.85vw;
            width:2vw;
            height: 2px;
            position: absolute;
            transform: rotate(-45deg);
            transition: all .3s;
        }

        &:hover{
            &:after{
                transform: rotate(180deg);
            }

            &:before{
                transform: rotate(180deg);
            }
        }
    }

    form.taskTitle{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        margin-top:15vw;
        input{
            width:90%;
            height:3.5vw;
            margin:.8vw;
            padding:1.2vw;
            outline:none;
            border-radius:0px;
            font-size:1vw;
            color:rgba(0,0,0,.5);
            border:1px solid rgba(255,255,255,.7);
            background-color:rgba(255,255,255,.5);
            caret-color:rgba(0,0,0,.3);
            transition: all .5s;
            font-weight:300;

            &:focus{
                background-color:rgba(255,255,255,.3);
                border:1px solid rgba(255,255,255,.9);
            }
            
            &::placeholder{
                font-size:1vw;
                height:2vw;
                color:rgba(0,0,0,.3);
            }
        }
    }

    .addBtn{
        width:3vw;
        height: 3vw;
        border-radius: 1.5vw;
        border:1px solid white;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all .3s;

        &:before{
            content: "";
            display: block;
            background-color: white;
            z-index: 1;
            position: absolute;
            width:2px;
            border-radius: 1px;
            height:1.3vw;
            transform-origin: 50% 50%;
            transition: all .3s;
        }
        &:after{
            content: "";
            display: block;
            position: absolute;
            background-color: white;
            z-index: 1;
            width:1.3vw;
            border-radius: 1px;
            height:2px;
            transform-origin: 50% 50%;
            transition: all .3s;
        }

        &:hover{
            background-color: rgba(255,255,255,.3);

            &:before{
                transform: rotate(180deg);
            }

            &:after{
                transform: rotate(180deg);
            }
        }
    }
}

.actions{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:90%;
}
