*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.login{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:25vw;
    height:45vw;


    h1{
        color:white;
        font-size:2.5vw;
        font-family: 'Open Sans', sans-serif;
        margin:1.5vw;
    }

    form{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:100%;

        input{
            width:65%;
            height:3vw;
            margin:.8vw;
            padding:.8vw;
            outline:none;
            border-radius:0;
            font-size:1vw;
            color:rgba(0,0,0,.3);
            border:1px solid rgba(255,255,255,.7);
            background-color:rgba(255,255,255,.5);
            caret-color:rgba(0,0,0,.3);
            transition: all .5s;
            font-weight:300;

            &:focus{
                background-color:rgba(255,255,255,.3);
                border:1px solid rgba(255,255,255,.9);
            }
            
            &::placeholder{
                font-size:1vw;
                color:rgba(0,0,0,.3);
            }
        }

        button{
            width:30%;
            height:3vw;
            font-size:.9vw;
            border:0;
            border-radius:30px;
            background-color: white;
            color:rgba(0,0,0,.6);
            margin-top:25px;
            outline:none;
            cursor: pointer;
        }
    }
    p{
        color:rgba(0,0,0,.4);
        font-size:.9vw;
        font-family: 'Raleway', sans-serif;
        margin:1.7vw;
        text-decoration: underline;
    }
}